PUBLIC_BASE_URL=https://tools.gpthub.ru
APP_SECRET=generate-a-long-random-value
APP_VERSION=dev
GATEWAY_PORT=9080
UPSCALE_URL=https://api.gpthub.ru/upscale
BACKGROUND_URL=https://api.gpthub.ru/bgr1/process
CLAMAV_REQUIRED=true
MAX_ACTIVE_JOBS_PER_IP=3
